.special__info {
    display: flex;
    padding: 112px 112px 112px;
    background: #171711;
    box-shadow: 0px 36px 105px #27ae60;
    border-radius: 16px;
    margin-bottom: 150px;

    .special__info__img {
        width: 50%;
        background: #171711;

        .sm__accounts {
            display: flex;
            justify-content: space-between;
            width: 264px;
            padding: 12px 27px;
            background: #171711;
            box-shadow: 0px 5px 5px #27ae60;
            border-radius: 4px;
            font-size: 18px;
            color: #27ae60;
            transform: translateY(-25px) translateX(85px);
            cursor: pointer;
        }
    }

    .special__info__inform {
        width: 50%;
        background-color: #171711;

        h2 {
            @include forTexts(38px, 600, #fff);
            background-color: #171711;
            margin-bottom: 32px;
        }

        p {
            @include forTexts(18px, 400, #87909d);
            line-height: 24px;
            background-color: #171711;
        }

        .p1 {
            margin-bottom: 16px;
        }

        .p2 {
            margin-bottom: 32px;
        }

        .buttons__for__projects {
            background-color: #171711;

            .projects__btn {
                position: relative;
                padding: 12px 24px;
                background: transparent;
                margin-bottom: 142px;
                color: #ffff;
                border: 2px solid #27ae60;
                transition: 0.3s;
                margin-right: 24px;

                span {
                    position: relative;
                    z-index: 1;
                    @include forTexts(16px, 600, #fff);
                }

                & i {
                    position: absolute;
                    inset: 0;
                    display: block;
                    // background-color: red;
                }

                & i::before {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: 20%;
                    width: 10px;
                    height: 4px;
                    background-color: #171717;
                    transform: translateX(-50%) skewX(310deg);
                    transition: 0.5s;
                }

                & i::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 80%;
                    width: 10px;
                    height: 4px;
                    background-color: #171717;
                    transform: translateX(-50%) skewX(310deg);
                    transition: 0.5s;
                }

                &:hover i::after {
                    width: 20px;
                    left: 20%;
                }

                &:hover i::before {
                    width: 20px;
                    left: 80%;
                }

                &:hover span a {
                    color: var(--clr);
                }

                &:hover {
                    background-color: var(--clr);
                    box-shadow: 0 0 35px var(--clr);
                }
            }

            .github__btn {
                position: relative;
                padding: 12px 24px;
                background: var(--clr);
                margin-bottom: 142px;
                color: #ffff;
                border: 2px solid var(--clr);
                transition: 0.3s;

                span {
                    position: relative;
                    z-index: 1;
                    @include forTexts(16px, 600, #fff);
                }

                & i {
                    position: absolute;
                    inset: 0;
                    display: block;
                    // background-color: red;
                }

                & i::before {
                    content: "";
                    position: absolute;
                    top: -2px;
                    left: 80%;
                    width: 10px;
                    height: 4px;
                    background-color: #171717;
                    transform: translateX(-50%) skewX(310deg);
                    transition: 0.5s;
                }

                & i::after {
                    content: "";
                    position: absolute;
                    bottom: -2px;
                    left: 20%;
                    width: 10px;
                    height: 4px;
                    background-color: #171717;
                    transform: translateX(-50%) skewX(310deg);
                    transition: 0.5s;
                }

                &:hover i::after {
                    width: 20px;
                    left: 80%;
                }

                &:hover i::before {
                    width: 20px;
                    left: 20%;
                }

                &:hover span a {
                    color: #27ae60;
                }

                &:hover {
                    background-color: var(--clr);
                    box-shadow: 0 0 35px var(--clr);
                }
            }
        }
    }
}
